<p>
	<a href="https://mvp.microsoft.com/en-us/PublicProfile/4025703" target="_blank">
		<img src="http://cdn.stevemichelotti.com/images/mvp-horizontal-logo.png"/>
	</a>
</p>

<p>
	<a href="http://www.pluralsight-training.net/microsoft/Authors/Details?handle=steve-michelotti" target="_blank">
		<img src="http://cdn.stevemichelotti.com/images/pluralsight-logo-v2.png" title="My Pluralsight Courses"/>
	</a>
</p>