<p>
	<a href="https://mvp.support.microsoft.com/en-us/mvp/Steve%20Michelotti-4025703" target="_blank">
		<img src="http://stevemichelotti.blob.core.windows.net/images/mvp-horizontal-logo.png"/>
	</a>
</p>

<p>
	<a href="http://www.pluralsight-training.net/microsoft/Authors/Details?handle=steve-michelotti">
		<img src="http://stevemichelotti.blob.core.windows.net/images/pluralsight-logo-v2.png" title="My Pluralsight Courses"/>
	</a>
</p>