<p>
<!--	<a href="https://mvp.support.microsoft.com/en-us/mvp/Steve%20Michelotti-4025703" target="_blank">
		<img src="http://gwb.blob.core.windows.net/michelotti/4145/o_mvp_logo.png">
	</a>-->
	<a href="https://mvp.support.microsoft.com/en-us/mvp/Steve%20Michelotti-4025703" target="_blank">
		<img src="https://dl.dropboxusercontent.com/u/20432002/blog/MVP_Horizontal_FullColor.png" width="188" height="74">
	</a>
</p>

<p>
	<a href="http://www.pluralsight-training.net/microsoft/Authors/Details?handle=steve-michelotti">
		<img src="http://s.pluralsight.com/mn/img/sh/logo-v2.png" title="Pluralsight" border="0px" width="166" height="40">
	</a>
</p>