<ul class="social">
    <li class="twitter"><a href="https://twitter.com/smichelotti" title="Follow me on Twitter"><i class="uk-icon-twitter"></i></a></li>
    <li class="github"><a href="https://github.com/smichelotti" title="View my Github profile"><i class="uk-icon-github"></i></a></li>
    <li class="linkedin"><a href="https://linkedin.com/in/stevemichelotti" title="View my LinkedIn profile"><i class="uk-icon-linkedin"></i></a></li>
<!--    <li class="google-plus"><a href="https://plus.google.com/101870596351145618768/about" title="Plus me! on Google plus"><i class="uk-icon-google-plus"></i></a></li>-->
</ul>