<ul class="social">
    <li class="rss"><a href="http://feeds.feedburner.com/SteveMichelotti" title="Subscribe to my Blog"><i class="uk-icon-rss"></i></a></li>
    <li class="twitter"><a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Follow me on Twitter"><i class="uk-icon-twitter"></i></a></li>
    <li class="linkedin"><a href="https://linkedin.com/in/stevemichelotti" title="View my LinkedIn profile"><i class="uk-icon-linkedin"></i></a></li>
</ul>